.resume {
  margin-left: auto;
  margin-right: auto;
  max-width: 55rem;
  font-family: 'Open Sans';
  text-align: justify;

  font-size: 1.1em;
}

.resume a:link,
.resume a:visited,
.resume a:active {
    color: #444444;
    text-decoration: none;
    font-weight: 400;
}

.resume .content {
  display: -webkit-flex;
  -webkit-flex-flow: row;

  display: flex;
  flex-flow: row;
}

.resume .content article {
  flex: 1 2 31rem;
}

.resume .content aside {
  flex: 0 3 16rem;
  text-align: start;

  padding-left: 1.25rem;
  box-sizing: border-box;

  font-size: 0.75em;
  font-weight: 200;
}

aside h3 {
  font-weight: 600;
  margin-bottom: 0.2em;
}

aside p {
  margin-top: 0.5em;
}

aside ul {
  margin: 0;
  padding-left: 2.5em;
}

aside strong {
  font-weight: 500;
}

.resume .content section {
  -webkit-flex: 3 1 auto;
  flex: 3 1 auto;
}

.resume .entity .properties {
  margin-top: 0;
}

.resume .entity .properties>span {
  margin-right: 0.5em;
}

header { text-align: left; }

header .person { display: flex; width: 100%; }

span.name {
  font-weight: 500;
  font-size: 1.833em;
  margin-right: 0.25em;
  flex-grow: 1;
  flex-shrink: 0;
}

/*span.tagline {
  font-weight: 300;
  font-size: 1.667em;
  font-style: italic;
  text-transform: lowercase;
}*/

.identity i.fa {
    padding-right: 0.3em;
}

.identity {
    padding-right: 0.5em;
    font-size: 1.5em;
    font-weight: 300;
    flex-grow: 0;
    flex-shrink: 0;
}

identity::after {
    content: ' ';
}

div.info {
  display: -webkit-flex;
  -webkit-flex-flow: row;

  display: flex;
  flex-flow: row;
}
div.info>span {
  font-weight: 300;
  flex: 1 1 auto;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

.entity p,
.involvement ul, .involvement p {
  font-size: 0.833em;
}

.entity > p {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0.75em;
}

.category h1 {
  font-weight: 700;
  font-size: 1.083em;
  margin-bottom: 0;
}

.category h2 {
  font-weight: 500;
  font-size: 0.917em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.category h3 {
  font-weight: 200;
  font-size: 0.833em;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0.3em;
}

.entity + .entity {
  margin-top: 0.75em;
}

.category .entity .involvementTitle {
  display: -webkit-flex;
  -webkit-flex-flow: row;

  display: flex;
  flex-flow: row;
}

.involvementTitle h3 {
  flex: 1 1 auto;
}

.category .entity .involvementTitle .date {
  text-align: right;
  font-size: 0.833em;
  font-style: italic;
  margin-left: 1em;

  flex: 0 0 auto;
}

.category .entity .entityTitle {
  display: -webkit-flex;
  -webkit-flex-flow: row;

  display: flex;
  flex-flow: row;
}

.entityTitle h2 {
  flex: 1 1 auto;
}

.category .entity .entityTitle .location {
  text-align: right;
  font-size: 0.833em;
  font-style: italic;
  margin-left: 1em;

  flex: 0 0 auto;
  margin: 0.25em 0 0.25em 0;
}

.category .entity ul {
  font-weight: 300;
  padding-left: 1.5em;
  margin-top: 0;
}

.category .involvement p {
  font-weight: 300;
  margin: 0.25em 0;
}

.resume span.skill::after {
  content: ', ';
}
.resume span.skill:last-child::after {
  content: '. ';
}

@media screen and (max-width: 30em) {
  .resume .content {
    -webkit-flex-flow: column ;
    flex-flow: column;
  }
  .resume .content aside {
    padding: 0;
    font-size: 0.917rem ;
  }
}

@media print {
  .resume { max-width: none; }
  body { font-size: 10pt; margin: 0; }
  @page {
      size: auto;
      margin: 0.40in 0.50in;
  }
}
